@font-face {
  font-family: "Yoster";
  src: url("/temp-game-assets/fonts/yoster-island.regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  padding-bottom: 80px;
  background-color: #061e1f;
  opacity: 1;
  background-image: radial-gradient(#2d9ac1 0.8px, #061e1f 0.8px);
  background-size: 16px 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #000;
  }
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  .header-items {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    padding-right: 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: solid #7e5211 10px;
  }

  h1 {
    display: inline-block;
    font-family: "Yoster", sans-serif;
    font-size: 52px;
    color: #7e5211;
  }
}

#cat-icon {
  width: 150px;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the circle */
    width: 150px; /* Adjust to fit your image */
    height: 150px; /* Adjust to fit your image */
    background-color: white;
    border-radius: 50%; /* Make it a circle */
    z-index: -1; /* Place it behind the image */
  }
}

main {
  width: 100%;
  height: 100%;
}

.game-wrapper {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 16/9;

  /* the Phaser canvas */
  canvas {
    border: 20px ridge #ffaf50;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
  }
}

/* Lg Screen Media Query */
@media screen and (min-width: 960px) {
}
