@font-face {
  font-family: "Yoster";
  src: url("/public/temp-game-assets/fonts/yoster-island.regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding-bottom: 100px;
  overscroll-behavior: none;
  opacity: 0.8;
  background-image: radial-gradient(#0d3a7c 0.5px, #d3ebf4 0.5px);
  background-size: 10px 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #000;
  }
}

header {
  position: relative;
  top: 0;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h1 {
    display: inline-block;
    font-family: "Yoster", sans-serif;
    font-size: 64px;
    color: #311c06;
    align-items: center;
  }
}

#cat-icon {
  position: sticky;
  width: 200px;
  padding: 10px 20px;

  top: 0;
  left: 0;
}

main {
  width: 100%;
  height: 100%;
}

.game-wrapper {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 16/9;

  /* the Phaser canvas */
  canvas {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
  }
}

/* Lg Screen Media Query */
@media screen and (min-width: 960px) {
}
